/* NAV */

.nav-01{
    background-color: #f56262;
    height:110px;
}

.navbar.navbar-expand-lg .nav-item .nav-link{
    color: white;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Arial;
    font-weight: 900;
    text-align: center;
    
}

.nav-01 .nav-item.active .nav-link,
.nav-01 .nav-item:hover .nav-link{
        background-color: black;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        border-radius: 6px;
}


@media(max-width:991px){
.navbar.navbar-expand-lg .nav-item .nav-link {
font-size: 12px;}
    .nav-01{height: 280px;}
}
    

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
}

.header{
    background-color: #eb4f4e;
    color: white;
}

.header h1{
    text-align: center;
    font-family: Bariol;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 5px;
    padding-top: 40px;
    text-shadow: 2px 2px 5px #c34b2a;
}
.header h2{
    text-align: center;
    font-family: Bariol;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 12px;
    text-shadow: 2px 2px 5px #c34b2a;
}